<form [formGroup]="userInfo" (ngSubmit)="onSubmit()">
  <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" placeholder="name" formControlName="Name">
            <small id="emailHelp" class="form-text text-muted">Name is required</small>
        </div>
        <div class="col-md-4 mb-3">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" placeholder="email" formControlName="Email">
            <small id="emailHelp" class="form-text text-muted">email is required</small>
        </div>
        <div class="col-md-4 mb-3">
            <label for="exampleInputEmail1">Role</label>
            <input type="text" class="form-control" placeholder="Role" formControlName="Role">
            <small id="emailHelp" class="form-text text-muted">Role is required</small>
        </div>
        <div class="col-md-4 mb-3">
            <label for="exampleInputEmail1">Status</label>
            <input type="text" class="form-control" placeholder="Status" formControlName="Status">
            <small id="emailHelp" class="form-text text-muted">Status is required</small>
        </div>
        <div class="image"><img></div>
            <label>Photo<br>
                <input type="file" formControlName="photo"><br>
                <small id="emailHelp" class="form-text text-muted">photo is required</small>
            </label>
        </div>

  <button type="submit" class="btn btn-primary" [disabled]="!userInfo.valid">Submit</button>
</form>
